<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>3819176916091934</sid>
    <event-sheet>Menuevents</event-sheet>
    <size>
        <width>720</width>
        <height>1280</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="5093583970496357">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="personajesJuntos" uid="298">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>584</x>
                        <y>1120</y>
                        <z>0</z>
                        <width>809</width>
                        <height>461</height>
                        <depth>0</depth>
                        <hotspotX>0.770086527</hotspotX>
                        <hotspotY>0.501084626</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="titulo2" uid="299">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>323</x>
                        <y>923</y>
                        <z>0</z>
                        <width>165</width>
                        <height>436</height>
                        <depth>0</depth>
                        <hotspotX>2.430303097</hotspotX>
                        <hotspotY>0.38532111</hotspotY>
                        <angle>3.141592741</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="titulo" uid="130">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>360</x>
                        <y>269</y>
                        <z>0</z>
                        <width>722.440368652</width>
                        <height>541.83026123</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="botonjugar" uid="135">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>463</y>
                        <z>0</z>
                        <width>439.432006836</width>
                        <height>168.886199951</height>
                        <depth>0</depth>
                        <hotspotX>0.485074639</hotspotX>
                        <hotspotY>0.485436887</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="botoninstrucciones" uid="133">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>708</y>
                        <z>0</z>
                        <width>440.549926758</width>
                        <height>168.252731323</height>
                        <depth>0</depth>
                        <hotspotX>0.485074639</hotspotX>
                        <hotspotY>0.490196079</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="botonnosotros" uid="292">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>961</y>
                        <z>0</z>
                        <width>439.286560059</width>
                        <height>168.830276489</height>
                        <depth>0</depth>
                        <hotspotX>0.485074639</hotspotX>
                        <hotspotY>0.485436887</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="titulo2" uid="300">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>379</x>
                        <y>795</y>
                        <z>0</z>
                        <width>-157</width>
                        <height>436</height>
                        <depth>0</depth>
                        <hotspotX>2.430303097</hotspotX>
                        <hotspotY>0.38532111</hotspotY>
                        <angle>3.141592741</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite10" uid="289">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>1</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>359.81237793</x>
                        <y>640.444213867</y>
                        <z>0</z>
                        <width>721.624755859</width>
                        <height>1282.888427734</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0</opacity>
                    </world>
                </instance>
                <instance type="Sprite9" uid="297">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>1</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>368</x>
                        <y>658</y>
                        <z>0</z>
                        <width>757</width>
                        <height>1313</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
